@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #FFFFFF;
  --color-text-primary: #191918;
  --color-button1: #0582FF;
  --color-button1-text: #FFFFFF;
  --color-button2: #EBF5FE;
  --color-button2-text: #087FE7;
  --color-hover: #F2F2F2;
}

@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .bg-button1 {
    background-color: var(--color-button1);
  }
  .text-button1-text {
    color: var(--color-button1-text);
  }
  .bg-button2 {
    background-color: var(--color-button2);
  }
  .text-button2-text {
    color: var(--color-button2-text);
  }
}
